<div class="container mt-4" >
    <h1>STUDENT Registation</h1>
    <div class="card">

<form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="student_name" [ngModelOptions]="{standalone: true}" class="form-control" name="student_name" class="form-control" id="student_name">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" [(ngModel)]="student_address" [ngModelOptions]="{standalone: true}" class="form-control" id="student_address">
    </div>
    <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}" class="form-control" name="mobile" id="mobile">
    </div>
    <button type="submit" class="btn btn-primary mt-4" (click)="save()">Submit</button>
  </form>
  </div>
  </div>
  <div>
 
    <div class="container mt-4" >
 
        <h1>Student Table</h1>
    <table class="table">
        <thead>     
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Mobile</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let StudentItem of StudentArray">
            <td>{{StudentItem.student_name}}</td>
            <td>{{StudentItem.student_address }}</td>
            <td>{{StudentItem.mobile }}</td>
 
            <td>
                <button type="button" class="btn btn-success" (click)="setUpdate(StudentItem)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="setDelete(StudentItem)">Delete</button>
            </td>
          </tr>
          
        </tbody>
      </table>
 
 
    </div>